{% extends 'aplicacion/home3.html' %}

{% block titulo %}
En el 2020 Estudié por primera vez desarrollo de software en bachillerato utilizando el lenguaje c++. Aprendí un poco la estructura y la manera de cómo funcionaba el lenguaje de programación mediante diagramas de flujo y Scratch.

<br><br>

En el 2022 me vi con la obligación de dejar esa carrera técnica por complicaciones y malas experiencias, como falta de maestros de las materias relacionadas a programación y maestros que dejaban tarea sin explicar muy bien los temas que se tenían que implementar para el funcionamiento de los códigos, entre otros problemas. En esos 2 años ni siquiera alcancé a ver el tema de programación orientado a objetos.

<br><br>

En 2023, mi hermano mayor me contó sobre unos cursos de programación con el lenguaje de Python en línea en una plataforma llamada CODERHOUSE, me invitó unirme al curso, a lo que yo acepté con un poco de miedo de como me iba a ir por la malas experiencias que tuve anteriormente.

<br><br>

Terminando el curso, gracias a un increíble maestro y un gran tutor, el miedo que tenía a estudiar programación se ha reducido y he logrado hacer en unos cuantos meses lo que pensé que iba a tardar años en lograr. Ahora estoy en proceso de entrar a la universidad a la carrera de computación.

<br><br>

Gracias.
{% endblock titulo %}