{% extends 'aplicacion/home2.html' %}

{% block lista %}

    <h2>{{ receta.nombre }}</h2>
    <p><strong>Porciones:</strong> {{ receta.porciones }}</p>
    <p><strong>Dificultad:</strong> {{ receta.dificultad }}</p>
    
    <h3>Ingredientes:</h3>
    <ul>
        {% for ingrediente in ingredientes_lista %}
            <li>{{ ingrediente }}</li>
        {% endfor %}
    </ul>

    <h3>Procedimiento:</h3>
    <ol>
        {% for paso in procedimiento_lista %}
            <li>{{ paso }}</li>
        {% endfor %}
    </ol>

    {% endblock lista %}