{% extends 'aplicacion/home2.html' %}

{% block contenido %}
<body>
    <!-- Agregar el formulario de búsqueda -->
    <form action="{% url 'buscarUsuarios' %}" method="GET">
        <input type="text" name="buscar" placeholder="Buscar usuarios...">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <!-- Agregar la tabla de resultados -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Número de Recetas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.num_recetas }}</td>
                <td>
                    <a href="{% url 'ver_recetas_usuario' usuario_id=usuario.id %}" class="btn btn-primary">Ver Recetas</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock contenido %}