{% extends 'aplicacion/home3.html' %}

{%block button%}
    <li class="nav-item px-lg-7"><a class="nav-link text-uppercase" href="{% url 'usuarioForm' %}">Nuevo Usuario</a></li>
    <li class="nav-item px-lg-7"><a class="nav-link text-uppercase" href="{% url 'chef_Form' %}">Nuevo Chef</a></li>
    <li class="nav-item px-lg-7"><a class="nav-link text-uppercase" href="{% url 'see_usuarios' %}">Ver Usuarios</a></li>
    <li class="nav-item px-lg-7"><a class="nav-link text-uppercase" href="{% url 'see_chefs' %}">Ver Chefs</a></li>
{%endblock button%}
    