{% extends 'aplicacion/home2.html' %}

{% block lista %}
                                            
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Porciones</th>
                <th>Dificultad</th>
            </tr>
        </thead>
        <tbody>
            
            {% for d in recetass  %}
                    <tr>
                        <td>{{ d.nombre }}</td>
                        <td>{{ d.porciones }}</td>
                        <td>{{ d.dificultad }}</td>
                    </tr>
            {% endfor %}
        
        </tbody>
    </table>
{%endblock lista %}
