{% extends 'aplicacion/home2.html' %}

{% block lista %}
                                            
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Porciones</th>
                <th>Dificultad</th>
            </tr>
        </thead>
        <tbody>
            
            {% for d in recetass %}
                <tr>
                    <td>{{ d.nombre }}</td>
                    <td>{{ d.porciones }}</td>
                    <td>{{ d.dificultad }}</td>
                    <td>{{ d.id }}</td>
                    <td><a href="{% url 'mostrar_receta' receta_id=d.id %}" class="btn btn-primary">Ver Receta</a></td>
                </tr>
            {% endfor %}
        
        </tbody>
    </table>
{%endblock lista %}
